<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="background-color:white">
  <div class="container">
    <h1 class="display-3">Software Metrics Tools</h1>
    <p>Software Metrics Tools is a website that contains a number of software estimation tools and software metric tools. To view the full list click the button below.</p>
      <p><a class="btn btn-primary btn-lg" routerLink="/tools-list" routerLinkActive="active" role="button">Full Tools List &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Function Points</h2>
      <p>Function points calculator. Used to determine function points and estimated lines of code. </p>
      <p><a class="btn btn-secondary" routerLink="/function-points" routerLinkActive="active" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>COCOMO</h2>
      <p>Basic COCOMO calculator. Takes thousands of lines of code and computes person months.</p>
      <p><a class="btn btn-secondary" routerLink="/cocomo-calculator" routerLinkActive="active" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Use Case Points</h2>
      <p>Use Case Points Calculator. A different way to compute person months for a software application.</p>
      <p><a class="btn btn-secondary" routerLink="/usecase-points-calculator" routerLinkActive="active" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->
