<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Software Estimation and Metrics Tools</h1>
    <p>Software Metrics Tools is a website that contains a number of software estimation tools and software metric tools.
      The current tool list is Function points calculator, Basic COCOMO calculator, Use Case Points Calulator, and DSQI tool.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Full tools list &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Function Points</h2>
      <p>Function points calculator</p>
      <p><a class="btn btn-secondary" routerLink="/function-points" routerLinkActive="active" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>COCOMO</h2>
      <p>Basic COCOMO calculator </p>
      <p><a class="btn btn-secondary" routerLink="/cocomo-calculator" routerLinkActive="active" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Use Case Points</h2>
      <p>An alternate method to function points</p>
      <p><a class="btn btn-secondary" routerLink="/usecase-points-calculator" routerLinkActive="active" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->
