<div class="row">
  <h1 class="page-header">Function Points Calculator</h1>
</div>

<div class="row">
  <h3>First Fill out a questionaire</h3>
  <ul>
    <li>0 - No Influence</li>
    <li>1 - Incidental</li>
    <li>2 - Moderate</li>
    <li>3 - Average</li>
    <li>4 - Significant</li>
    <li>5 - Essential</li>
  </ul>
</div>

<div class="row">
  <form>
    <div *ngFor="let question of questions; let index=index" class="form-group row">
      <label for="inputQuestion{{index}}" class="col-sm-10 col-form-label">{{index}}: {{question.content}}</label>
      <div class="col-sm-2">
        <input type="number" class="form-control" name="question{{index}}" id="inputQuestion{{index}}" [(ngModel)]="question.rating" placeholder="Input number 0-5..." min="0" max="5">
      </div>
    </div>
  </form>


</div>

<div class="row">
  <p>Total: {{questionaireTotal}}</p>

  <button class="btn btn-primary" (click)="totalQuestions()">Calculate</button>
</div>


<hr>

<div class="row" style="border-bottom: black solid 1px;">
  <div class="col-md-4">Measurement Parameter</div>
  <div class="col-md-2">Count</div>
  <div class="col-md-5"> Weighting Factor: Simple/Average/Complex</div>
</div>

<form>
  <div class="row" *ngFor="let param of parameters">
    <div class="col-md-4">{{param.name}}</div>
    <div class="col-md-1">
      <input type="number" class="form-control" name="numInputs" [(ngModel)]="param.count" placeholder="#">
    </div>
    <div class="col-md-5">
      <div class="form-check form-check-inline" *ngFor="let num of param.weightFactors;let index = index">
        <input class="form-check-input" type="radio" name="{{param.name}}" id="{{param.name + index}}" [value]="num" [(ngModel)]="param.weightedTotal">
        <label class="form-check-label" for="{{param.name + index}}">{{num}}</label>
      </div>
    </div>
    <div class="col-md-1">
      <input type="number" class="form-control" name="numInputsTotal"  readonly>
    </div>
  </div>
</form>

<div class="row">
  <p>Functions Point: {{functionPoints}}</p>
  <button class="btn btn-primary" (click)="calculateFunctionPoints()">Calculate Functions Point</button>
</div>
