<div class="row">
  <h1 class="page-header">Design Structure Quality Index (DSQI) Calculator</h1>
</div>

<hr>

<div class="row">

  <div class="col-md-6">
    <div class="row">
      <h3>Instructions:</h3>
    </div>

    <div class="row">
      <ol>
        <li>Enter a number for each S-Value.</li>
        <li>Check D<sub>1</sub> if applicable.</li>
        <li>Click 'Set S-Values' button. Fix any errors if necessary.</li>
        <li>Set a weight for each D-Value.</li>
        <li>Click 'Calculate DSQI' button.</li>
      </ol>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
      <h3>Help:</h3>
    </div>

    <div class="row">
      <ul>
        <li>Confused? Check out the Wikipedia page <a href="https://en.wikipedia.org/wiki/DSQI" target="_blank">here</a> to learn more.</li>
        <li>Another helpful resource <a href="http://logicalprogram.blogspot.com/p/dsqi.html" target="_blank">here</a>.</li>
      </ul>
    </div>
  </div>

</div>

<hr>

<form class="form-horizontal">
  <div id="collapseGroup">

    <div class="form-row">
      <h5 class="page-header">S-Values</h5>
    </div>
    <br>

    <div class="form-row" style="border-bottom: black solid 1px;">
      <div class="col-md-1">Value</div>
      <div class="col-md-6">Description</div>
      <div class="col-md-2">Number</div>
    </div>


    <div *ngFor="let question of sValues; let index=index" class="form-row">
      <div class="col-md-1">S<sub>{{index+1}}</sub></div>
      <div class="col-md-6">{{question.content}}</div>
      <div class="col-sm-1">
        <input type="number" class="form-control" name="sValue{{index+1}}" id="inputsValue{{index+1}}" [(ngModel)]="question.rating" placeholder="#" min="0">
      </div>
    </div>

    <div class="row">
    <div class="col-md-1">D<sub>1</sub></div>

      <div class="col-sm-4">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="d1CheckBox" [checked]="d1ValueChecked" (change)="d1ValueChecked = !d1ValueChecked"> Used distinct method?
          </label>
        </div>
      </div>
    </div>
  </div>

  <br>

    <div class="form-row">
      <div class="offset-md-5 col-sm-1">
        <button id="sValueBtn" (click)="setSValues()" class="btn btn-primary">Set S-Values</button>
      </div>
      <div class="offset-md-1 col-sm-1">
        <span id="successCheck" class="glyphicon glyphicon-ok text-success" aria-hidden="true" style="display: none"></span>
      </div>
    </div>

    <br>

    <div id="invalidS" class="alert alert-danger" role="alert" *ngIf="showSErrors">
      Errors
      <ul>
        <li *ngFor="let error of sErrors">{{error}}</li>
      </ul>
    </div>

</form>

<!-- divider -->

<br />
<hr>
<br />

<div *ngIf="showDValues">
  <div class="row" style="border-bottom: black solid 1px;">
    <h3 class="col-md-3 offset-md-2">D-Values</h3>
    <h3 class="col-md-4 offset-md-1 ">Weights<small>(Must Total 100%)</small></h3>
  </div>
    <form class="form-horizontal">
    <div id="collapseGroup2">

      <div class="form-row has-feedback" *ngFor="let question of dValues; let index=index">
        <div class="col-md-1 offset-md-2">D<sub>{{index+1}}</sub></div>
        <div class="col-sm-1">
          <input type="number" readonly class="form-control" id="D{{index}}" placeholder="{{question.rating}}">
        </div>

        <label for="W{{index}}" class="offset-md-2 col-sm-1 control-label">W<sub>{{index}}</sub> for D<sub>{{index}}</sub></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" class="form-control" name="W{{index}}" id="W{{index}}"  [(ngModel)]="question.weight" placeholder="Enter W{{index}}" aria-describedby="basic-addon1">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon1">%</span>
            </div>
          </div>
        </div>
      </div>


      <div class="form-row" style="display:none">

        <label for="WTotal" class="offset-md-4 col-sm-4 control-label">
          Total Weight
        </label>
        <div class="col-sm-3">
          <input type="number" readonly class="form-control" id="WTotal" placeholder="0%">
        </div>

      </div>

      <br/>

      <div class="form-row">
        <div class="offset-md-5 col-sm-1">
          <button id="calculateBtn" (click)="calculateDSQI()" class="btn btn-primary">Calculate DSQI</button>
        </div>
        <div class="col-md-1 col-sm-1">
          <span id="dsqiSuccessCheck" class="glyphicon glyphicon-ok text-success successPadding" aria-hidden="true" style="display: none"></span>
        </div>
      </div>

      <div id="weightTotal" class="alert alert-danger" role="alert" style="display: none">Weights don't add up to one hundred </div>
      <div id="invalidWeight" class="alert alert-danger" role="alert" style="display: none">Weights must be greater than 0</div>

    </div>
  </form>
  </div>

<br>

<div id="invalidD" class="alert alert-danger" role="alert" *ngIf="weightError" >
  Error - Weights do not total to 100%
</div>


<div class="row" *ngIf="calculationSuccess">
  <div class="col-md-6">
    <div class="row">
      <h4>Point Calculations</h4>
    </div>

    <div class="row">
      <div class="col-md-5">DSQI: Sum(w<sub>i</sub>D<sub>i</sub>)=</div>
      <div class="col-md-3">
        <input type="number" class="form-control is-valid"  placeholder="{{dsqi}}" readonly>
      </div>
    </div>


  </div>
</div>
