<div class="row">
  <h1 class="page-header">Function Points Calculator</h1>
</div>

<hr>


<div class="row" style="border-bottom: black solid 1px;">
  <div class="col-md-4">Use Case Classification</div>
  <div class="col-md-2">No. of Transactions</div>
  <div class="col-md-5">Weight</div>
</div>

<form>
  <div>
    <div class="col-md-4">{{param.name}}</div>
    <div class="col-md-1">
      <input type="number" class="form-control" name="numInputs" [(ngModel)]="param.count" placeholder="#">
    </div>
    <div class="col-md-5">
      <div class="form-check form-check-inline" *ngFor="let num of param.weightFactors;let index = index">
        <input class="form-check-input" type="radio" name="{{param.name}}" id="{{param.name + index}}" [value]="num" [(ngModel)]="param.weightedTotal">
        <label class="form-check-label" for="{{param.name + index}}">{{num}}</label>
      </div>
    </div>
    <div class="col-md-1">
      <input type="number" class="form-control" name="numInputsTotal"  readonly>
    </div>
  </div>
</form>
