<table class="table">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col" colspan="2">Basic</th>
    <th scope="col" colspan="2">Intermediate</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Mode</td>
    <td>a</td>
    <td>b</td>
    <td>a</td>
    <td>b</td>
  </tr>
  <tr>
    <td>Organic</td>
    <td>2.4</td>
    <td>1.05</td>
    <td>3.2</td>
    <td>1.05</td>
  </tr>
  <tr>
    <td>Semidetached</td>
    <td>3.0</td>
    <td>1.12</td>
    <td>3.0</td>
    <td>1.12</td>
  </tr>
  <tr>
    <td>Embedded</td>
    <td>3.6</td>
    <td>1.20</td>
    <td>2.8</td>
    <td>1.20</td>
  </tr>
  </tbody>
</table>
