<div class="row">
  <h1 class="page-header">Tools List</h1>
</div>

<hr>

<!--<div class="row">-->
  <!--<ul class="list-group">-->
    <!--<li class="list-group-item"><a class="btn btn-secondary" routerLink="/function-points" routerLinkActive="active">Function Points Calculator</a></li>-->
    <!--<li class="list-group-item"><a class="btn btn-secondary" routerLink="/function-points" routerLinkActive="active">Basic COCOMO calculator</a></li>-->
    <!--<li class="list-group-item"><a class="btn btn-secondary" routerLink="/function-points" routerLinkActive="active">Use Case Points Calculator</a></li>-->
    <!--<li class="list-group-item"><a class="btn btn-secondary" routerLink="/function-points" routerLinkActive="active">Design Structure Quality Index tool</a></li>-->
  <!--</ul>-->
<!--</div>-->

<div class="list-group">
  <a class="list-group-item list-group-item-action" routerLink="/function-points" routerLinkActive="active">Function Points Calculator</a>
  <a class="list-group-item list-group-item-action" routerLink="/cocomo-calculator" routerLinkActive="active">Basic COCOMO calculator</a>
  <a class="list-group-item list-group-item-action" routerLink="/usecase-points-calculator" routerLinkActive="active">Use Case Points Calculator</a>
  <a class="list-group-item list-group-item-action" routerLink="/dsqi-calculator" routerLinkActive="active">Design Structure Quality Index Calculator</a>
</div>

<!--<div class="card" style="width: 18rem;">-->
  <!--<div class="card-body">-->
    <!--<h5 class="card-title">Card title</h5>-->
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <!--<a href="#" class="card-link">Card link</a>-->
    <!--<a href="#" class="card-link">Another link</a>-->
  <!--</div>-->
<!--</div>-->
